/* SubscriptionPopup.css */

.subscription-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.subscription-popup-overlay.open {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: darkenBackground 0.5s ease forwards;
}

.subscription-popup {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: fixed;
}

.subscription-popup.open {
    animation: openPopup 0.3s ease forwards;
}

.popup-image-container {
    overflow: hidden;
    display: flex;
    border-radius: 8px 8px 0 0;
    justify-content: center;
}

.popup-subscription-image {
    width: 100%;
}

.popup-heading {
    margin-bottom: 0;
}

.popup-description {
    margin: 0 20px 20px;
}

.close-button {
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-button:hover {
    color: #000;
    background-color: transparent;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.validation-message {
    margin: 0 auto 10px;
}

.validation-message:last-child {
    margin: 0 auto 20px;
}

button {
    background-color: #000;
    color: white;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: 0 auto;
}

button:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.thank-you-message {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
}

.close-button-after-submitted {
    margin-bottom:40px;
}

/* Animaciones */
@keyframes darkenBackground {
    from {
        background: rgba(0, 0, 0, 0);
    }
    to {
        background: rgba(0, 0, 0, 0.5);
    }
}

@keyframes openPopup {
    from {
        transform: scale(0.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    ;}
}
